[Desktop Entry]
Type=Application
Name=Refresh snaps
Comment=Refresh snaps on startup
Exec=gnome-terminal --window --execute /home/morphex/bin/snap_refresh.sh
